## 1.
```

What can Python do?

(A)Python can be used on a server to create web applications.

(B)Python can be used alongside software to create workflows.

(C)Python can connect to database systems. It can also read and modify files.

(D)Python can be used to handle big data and perform complex mathematics.

-answer: https://www.w3schools.com/python/python_intro.asp

What can Python do?

Python can be used on a server to create web applications.

Python can be used alongside software to create workflows.

Python can connect to database systems. It can also read and modify files.

Python can be used to handle big data and perform complex mathematics.

Python can be used for rapid prototyping, or for production-ready software development. Why Python?
```

## 2.
```
Python uses __________ to indicate a block of code

(A) [] (B) {} (C) () (D) indentation

answer https://www.w3schools.com/python/python_syntax.asp

Python uses indentation to indicate a block of code
```

## 3.
```
Python has commenting capability for the purpose of in-code documentation. Comments start with a __________

(A) A (B) # (C) / (D)&
```

## 4.
```
Unpack a Collection:

If you have a collection of values in a list, tuple etc. Python  allows you to extract the values into variables.
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

## 5.
```

Which following is the correct way to create a dictionary in Python? (A) students = { 'name' => 'alice' ; 'score' =>60 } (B) students = { 'name' = 'alice' ; 'score' =60 } (C) students = { 'name' : 'alice' ; 'score' : 60 } (D) students = { 'name' => 'alice' , 'score' =>60 } (E) students = { 'name' : 'alice' , 'score' : 60 }
Answer: - E- { 'name' : 'alice' , 'score' : 60 }

students = { 'name' => 'alice' ; 'score' =>60 } File "", line 1 students = { 'name' => 'alice' ; 'score' =>60 } ^ SyntaxError: invalid syntax

students = { 'name' = 'alice' ; 'score' =60 } File "", line 1 ) students = { 'name' = 'alice' ; 'score' =60 } ^ SyntaxError: invalid syntax

students = { 'name' = 'alice' ; 'score' =60 } File "", line 1 ) students = { 'name' = 'alice' ; 'score' =60 } ^ SyntaxError: invalid syntax

students = { 'name' => 'alice' , 'score' =>60 } File "", line 1 students = { 'name' => 'alice' , 'score' =>60 } ^ SyntaxError: invalid syntax

students = { 'name' : 'alice' , 'score' : 60 }
```

## 6.
```

What is the output of this code in Python?
```

In [ ]:
x = 5
y = "John" 
print(x + y)

TypeError: ignored

## 7.
```

Which one of the following outputs is wrong? 

(A)13//5 output: 2.6 (B) 13/5 output: 2.6 (C)13%5 output:3
(D)y = int(2.8) output:2

Answer: B-13/5 output: 2.6
```

## 8.
```
What does the following Python program fragment do? 
s=0 
for i in range (3 , 11) : 
s+=i 
print (s) 
(A) Calculate the sum of 1+2+…+10 
(B) Calculate the sum of 1+4+7+10 
(C) Calculate the sum of 3+4+5+6+…+9 
(D) Calculate the sum of 3+4+5+6+…+10 
(E) Calculate the sum of 0+2+4+6+…+10
```
Answer: D- Calculate the sum of 3+4+5+6+…+10

In [ ]:
x = range(3,11)

for n in x:
  print(n)

3
4
5
6
7
8
9
10

## 9.
```

What is the output of this code in Python?

a = "Hello, World!" print(a[2:5]+ a[3:8])

(A) W llolo, 
(B) llolo,Wo 
(C) llolo, W 
(D) llolo,Wor
```
Answer: B- llolo,Wo

In [ ]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

## 10.
```

Which function can returns the length of a string?
a = "Hello, Pythonian!" 

print(_________) 
(A) len(a) 
(B) length(a) 
(C) count(a) 
(D) num(a)
```
Answer: B-length(a)

## 11.
```
What is the output of this code in Python? 

list = [ ' a ' , ' b ' , ' c ' , ' d ' , ' e ' ] 

print (list [ 1 : ])

(A) [ ] 
(B) [ 'b' ] 
(C) [ 'a' , 'b' ] 
(D) [ 'b' , 'c' , 'd' , 'e' ]
```
Answer: D-[' b ', ' c ', ' d ', ' e ']

## 12.
```

What is the output of this code in Python? 

L1 = [ ] 

L1.append ( [1, [2, 3], 4] ) 
L1.extend ( [7, 8, 9] ) 
print(L1[0][1][1] + L1[2] ) 
(A) 3 
(B) 8 
(C) 11 
(D) 38 
(E) None of these
```
Answer: B-11

In [ ]:
      L1 = [ ]
      L1.append ( [1, [2, 3], 4] )
      L1.extend ( [7, 8, 9] )
      print(L1[0][1][1] + L1[2] )

11

## 13.
```
Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" ______ txt)

Which is the correct answer?
(A) on (B) with (C) at  (D) in
```

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

## 14.
```
Which of the following conditions correctly describes the output of this code in Python? first = [1 , 2 , 3 , 4 , 5] second = first second.append (6) print (first) print (second) (A) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5, 6] (B) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5] (C) first=[1, 2, 3, 4, 5], second=[1, 2, 3, 4, 5] (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6] (E) None of these
```
Answer: D-[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

In [ ]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print (first)
print (second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

## 15.
```

Python has a set of built-in methods that you can use on strings. Which method can converts string into lower case ? (A)capitalize() (B) casefold() (C) lower()
(D)expandtabs()
```
Answer: C- lower () https://www.google.com/search?q=Python+has+a+set+of+built-in+methods+that+you+can+use+on+strings.+Which+method+can+converts+string+into+lower+case+%3F&rlz=1C1ONGR_enPH1023PH1023&oq=Python+has+a+set+of+built-in+methods+that+you+can+use+on+strings.+Which+method+can+converts+string+into+lower+case+%3F&aqs=chrome..69i57.263j0j9&sourceid=chrome&ie=UTF-8

## 16.
```

Python Booleans Which one of the following statements is wrong? (A) Booleans represent one of two values: True or False. (B) The bool() function allows you to evaluate any value, and give you True or False in return, (C) print(10 > 9) will output True
(D) print(10 = 9) will output True
```
Answer: D-print(10 = 9) will output True

In [ ]:
print(10 = 9)

SyntaxError: ignored

## 17.
```

Python Lists Which of the following statements is wrong?

(A) Lists are used to store multiple items in a single variable. (B) Lists are created using square brackets (C) List items are ordered, changeable, and allow duplicate values. (D) Lists can not have items with the same value
```
Answer:D- Lists can not have items with the same value

## 18.
```
Which one of the codes will output ['apple', 'orange', 'banana', 'cherry'] ?

mylist = ["apple", "banana", "cherry"] _____________________ print(mylist)

(A)mylist.append("orange") (B)mylist.insert(0, "orange") (C)mylist.insert(1, "orange")
(D)mylist.insert(2, "orange")
```
Answer: D-mylist.insert(2, "orange")

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(2, "orange")
print(mylist)

['apple', 'banana', 'orange', 'cherry']

## 19.
```
Python has a set of built-in methods that you can use on dictionaries. Which statements are correct ? (A) clear() will removes all the elements from the dictionary (B) copy() will returns a copy of the dictionary (C) items() will returns a list containing a tuple for each key value pair
(D) popitem() will removes the last inserted key-value pair
```
Answer: C-items() will returns a list containing a tuple for each key value pair

## 20.
```

Python supports the usual logical conditions from mathematics: Which statements are correct ? (A)Equals: a = b (B)Not Equals: a != b (C)Less than or equal to: a <= b (D)Greater than: a > b
```
Answer: B-Not Equals: a != b

## 21.
```
What is the output of this code in Python?

i = 1 while i < 6: print(i) if (i == 3): break i += 1 (A) (B) (C) (D) 1 1 1 4 2 2 2 5 3 4 3 6 5 4 6 5 6
```
Answer: A

In [ ]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

## 22.
```
What is the output of this code in Python? i = 0 while i < 6: i += 1 if i == 3: continue print(i)

(A) (B) (C) (D) 1 1 1 4 2 2 2 5 3 4 3 6 5 4 6 5 6
```
Answer: B

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## 23.
```
If the function int volume (int x = 1, int y = 1, int z = 1); is called by the expression volume (7,8), how many default arguments are used? (A) None (B) One (C) Two (D) Three (E) It depends on the runtime environment.
```
Answer: C-Two

## 24.
```
What is the output of this code in python? r = lambda q: q * 2 s = lambda q: q * 3 x = 2 x = r (x) x = s (x) x = r (x) print (x) (A) 2 (B) 4 (C) 6 (D) 12 (E) 24
```
Answer: E

In [1]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

## 25.
```
.A recursive function is defined as below: def tri_recursion(k): if(k > 0): result = k + tri_recursion(k - 1) print(result) What Is The Last Line Of The Output When tri_recursion(6) is executed?

(A) 6 (B) 10 (C) 15 (D) 21 (E) 28
```
Answer: D-21

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result